<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584670927260-o0a637ogg1mulggl4pvfj0itd8f4fvuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584670927260-o0a637ogg1mulggl4pvfj0itd8f4fvuf</string>
	<key>API_KEY</key>
	<string>AIzaSyByNVemhrkLQJ7vtXx0RysdT__PHIIVMX0</string>
	<key>GCM_SENDER_ID</key>
	<string>584670927260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cow.iwaski.recordOrnamentsApp</string>
	<key>PROJECT_ID</key>
	<string>recordornamentsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>recordornamentsapp.appspot.com</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <false/>
    <key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584670927260:ios:317445e7680b33eaef9059</string>
</dict>
</plist>
